@charset "UTF-8";

@import "../../../../common/scss/base/variables";
@import "../../../../common/scss/base/mixin";

.admin-wrapper{
    .admin-top{
        height: 50px;
        border-bottom: 1px solid $border-color;
        line-height: 50px;
        .btn-default{
            margin-left: 8px;
        }
    }
    .article-list{
        margin: 15px 0;
        .td{
            &:first-child{
                flex: 2;
            }
            .btn-default{
                margin: 0 2px;
            }
        }
    }
}